[submodule "basic-client/incentive-layer"]
	path = basic-client/incentive-layer
	url = https://github.com/TrueBitFoundation/incentive-layer.git
[submodule "basic-client/dispute-resolution-layer"]
	path = basic-client/dispute-resolution-layer
	url = https://github.com/TrueBitFoundation/dispute-resolution-layer.git
[submodule "wasm-client/ocaml-offchain"]
	path = wasm-client/ocaml-offchain
	url = https://github.com/TrueBitFoundation/ocaml-offchain.git
[submodule "wasm-client/webasm-solidity"]
	path = wasm-client/webasm-solidity
	url = https://github.com/TrueBitFoundation/webasm-solidity.git
[submodule "wasm-client/incentive-layer"]
	path = wasm-client/incentive-layer
	url = git@github.com:TrueBitFoundation/incentive-layer.git
