[submodule "dispute-resolution-layer"]
	path = dispute-resolution-layer
	url = git@github.com:TrueBitFoundation/dispute-resolution-layer.git
[submodule "incentive-layer"]
	path = incentive-layer
	url = git@github.com:TrueBitFoundation/incentive-layer.git
