language: node_js
node_js:
  - "8"
cache:
  directories:
    - "node_modules"

before_install:
  - npm i -g ganache-cli truffle@4.1.9
  - ganache-cli &>/dev/null &

install:
  - npm install
  - npm run fixperms
  - npm run setup

script:
  - npm run test